add_style('d\:n', {'display':none!important})
add_style('d\:b', {display: block !important})
add_style('d\:f', {display: flex !important})
add_style('d\:if', {display: inline-flex !important})
add_style('d\:i', {display: inline !important})
add_style('d\:ib', {display: inline-block !important})
add_style('d\:li', {display: list-item !important})
add_style('d\:ri', {display: run-in !important})
add_style('d\:cp', {display: compact !important})
add_style('d\:tb', {display: table !important})
add_style('d\:ig', {display: inline-grid !important})
add_style('d\:itb', {display: inline-table !important})
add_style('d\:tbcp', {display: table-caption !important})
add_style('d\:tbcl', {display: table-column !important})
add_style('d\:tbclg', {display: table-column-group !important})
add_style('d\:tbhg', {display: table-header-group !important})
add_style('d\:tbfg', {display: table-footer-group !important})
add_style('d\:tbr', {display: table-row !important})
add_style('d\:tbrg', {display: table-row-group !important})
add_style('d\:tbc', {display: table-cell !important})

add_style({'0':'fl\:l', '1':'fl'}, {float: left})
add_style('fl\:n', {float: none})
add_style('fl\:r', {float: right})
add_style('cl\:n', {clear: none})
add_style('cl\:l', {clear: left})
add_style('cl\:r', {clear: right})
add_style('cl\:b', {clear: both})
add_style('v\:v', { visibility: visible})
add_style('v\:h', { visibility: hidden})
add_style('v\:c', { visibility: collapse})
add_style('ov\:v',  {overflow: visible})
add_style('ov\:h',  {overflow: hidden})
add_style('ov\:s',  {overflow: scroll})
add_style('ov\:a',  {overflow: auto})


add_style('ovx\:v', { overflow-x: visible})
add_style('ovx\:h', { overflow-x: hidden})
add_style('ovx\:s', { overflow-x: scroll})
add_style('ovx\:a', { overflow-x: auto})
add_style('ovy\:v', { overflow-y: visible})
add_style('ovy\:h', { overflow-y: hidden})
add_style('ovy\:s', { overflow-y: scroll})
add_style('ovy\:a', { overflow-y: auto})

add_style('ovs\:a', { overflow-style: auto})
add_style('ovs\:s', { overflow-style: scrollbar})
add_style('ovs\:p', { overflow-style: panner})
add_style('ovs\:m', { overflow-style: move})
add_style('ovs\:mq', { overflow-style: marquee})

add_style('zm]',{ zoom: 1})
add_style('cp\:a', {clip: auto})

add_style('rsz\:n', {resize: none})
add_style('rsz\:b', {resize: both})
add_style('rsz\:h', {resize: horizontal})
add_style('rsz\:v', {resize: vertical})

add_style({'0':'cur', '1':'cur\:p'}, {cursor:pointer})

add_style('cur\:a', {cursor:auto})
add_style('cur\:d', {cursor: default})
add_style('cur\:c', {cursor:crosshair})
add_style('cur\:ha', {cursor:hand})
add_style('cur\:he', {cursor:help})
add_style('cur\:m', {cursor:move})
add_style('cur\:t', {cursor:text})

add_style('bxz', {box-sizing:border-box})
add_style('bxz\:cb', {box-sizing:content-box})
add_style('bxz\:bb', {box-sizing:border-box})
add_style('bxsh\:n', {box-shadow:none})

add_style('fw\:n', {font-weight: normal})
add_style('fw\:lr', {font-weight: lighter})
add_style('fw\:b', {font-weight: bold})
add_style('fw\:br', {font-weight: bolder})

add_style('op\#1', {opacity: 1})
add_style('op\#0', {opacity: 0})
add_style('op\#0\.1', {opacity: 0.1})
add_style('op\#0\.2', {opacity: 0.2})
add_style('op\#0\.3', {opacity: 0.3})
add_style('op\#0\.4', {opacity: 0.4})
add_style('op\#0\.5', {opacity: 0.5})
add_style('op\#0\.6', {opacity: 0.6})
add_style('op\#0\.7', {opacity: 0.7})
add_style('op\#0\.8', {opacity: 0.8})
add_style('op\#0\.9', {opacity: 0.9})

add_style('c\#0', {color: #000})
add_style('c\#1', {color: #111})
add_style('c\#2', {color: #222})
add_style('c\#3', {color: #333})
add_style('c\#4', {color: #444})
add_style('c\#5', {color: #555})
add_style('c\#6', {color: #666})
add_style('c\#7', {color: #777})
add_style('c\#8', {color: #888})
add_style('c\#a', {color: #aaa})
add_style('c\#b', {color: #bbb})
add_style('c\#c', {color: #ccc})
add_style('c\#d', {color: #ddd})
add_style('c\#e', {color: #eee})
add_style('c\#f', {color: #fff})

add_style('td\:n', {text-decoration: none})
add_style('td\:u', {text-decoration: underline})
add_style('td\:l', {text-decoration: line-through})
add_style('td\:o', {text-decoration: overline})

add_style('bgc\#0', {background-color: #000})
add_style('bgc\#1', {background-color: #111})
add_style('bgc\#2', {background-color: #222})
add_style('bgc\#3', {background-color: #333})
add_style('bgc\#4', {background-color: #444})
add_style('bgc\#5', {background-color: #555})
add_style('bgc\#6', {background-color: #666})
add_style('bgc\#7', {background-color: #777})
add_style('bgc\#8', {background-color: #888})
add_style('bgc\#a', {background-color: #aaa})
add_style('bgc\#b', {background-color: #bbb})
add_style('bgc\#c', {background-color: #ccc})
add_style('bgc\#d', {background-color: #ddd})
add_style('bgc\#e', {background-color: #eee})
add_style('bgc\#f', {background-color: #fff})
add_style('bgc\#biege', {background-color: #f5f5dc})

add_style('bgsz\:a', {background-size:auto})
add_style('bgsz\:ct', {background-size:contain})
add_style('bgsz\:cv', {background-size:cover})

add_style('ta', {text-align:left})
add_style('ta\:l', {text-align:left})
add_style('ta\:c', {text-align:center})
add_style('ta\:r', {text-align:right})
add_style('ta\:j', {text-align:justify})

add_style('tal\:a', {text-align-last:auto})
add_style('tal\:l', {text-align-last:left})
add_style('tal\:c', {text-align-last:center})
add_style('tal\:r', {text-align-last:right})

add_style('m\:v\:a', {margin-top:auto !important,margin-bottom:auto !important})
add_style('m\:h\:a', {margin-left:auto !important,margin-right:auto !important})

add_style('w\:100vw', {width:100vw})
add_style('h\:100vh', {height:100vh})
add_style('w\:100p', {width:100%})
add_style('h\:100p', {height:100%})
